node_modules/
coverage/
.env
.idea/
.tool-versions
.*.swp
.changelog
CHANGELOG.new.md
CHANGELOG.add.md
CHANGELOG.new.md.tmp
.vscode/tasks.json
.vscode/settings.json
.vscode/extensions.json
src/types.ts
src/utils/_randomChars.ts
